.saveTheWeb_bottomLeftButtons {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 2147483647;
  cursor: pointer;
  padding: 0;
  &.saveTheWeb_disabled {
    opacity: 0.125;
  }
  img {
    margin-right: 0;
    height: 18px;
    width: 18px;
    display: inline;
    border: none;
  }
  .saveTheWeb_EditorOptions {
    display: none;
  }
  &:hover .saveTheWeb_EditorOptions {
    display: block;
  }
}
